
.progress-bar {
    width: 100%;
    border-radius: 5px;
    padding: 3px;
  }
  
  .progress {
    background-color: #4caf50;
    height: 20px;
    border-radius: 5px;
    width: 0;
  }

  .python-progress .progress {
    background-color: #fcd12a;
  }
  
  .java-progress .progress {
    background-color: #FF8C00;
  }
  

  .nlp-progress .progress {
    background-color: #c5b0d5;
  }

 
  
  .web-progress .progress {
    background-color: #2ecc71;
  }

  .javascript-progress .progress {
    background-color: #f0db4f;
  }
  .typescript-progress .progress {
    background-color: #3178c6;
  }
  .java-progress .progress {
    background-color: #b07219;
  }
  .c-progress .progress {
    background-color: #555555;
  }
  .cpp-progress .progress {
    background-color: #f34b7d;
  }

  .tailwind-progress .progress {
    background-color: #5D3FD3;
  } 
  .nextjs-progress .progress {
    background-color: #008000;
  }
  .scss-progress .progress {
    background-color: #cd6799;
  } 

  .vite-progress .progress {
    background-color: #646cff;
  }


  .sql-progress .progress {
    background-color: #8e44ad;
  }

  .c-progress .progress {
    background-color: #34495e;
  }
  .llm-progress .progress {
    background-color: #1a237e;
  }


  .react-progress .progress {
    background-color: #61DAFB;
  }


  .git-progress .progress {
    background-color: #F1502F;
  }
  .vscode-progress .progress {
    background-color: #2eb33c;
  }
  .intellij-progress .progress {
    background-color: #706363;
  }
  .unix-progress .progress {
    background-color: #24fcad;
  }
  .jira-progress .progress {
    background-color: #0052CC;
  }
  .microsoftoffice-progress .progress {
    background-color: #3083b0;
  }
  .jupyter-progress .progress {
    background-color: #F37726;
  }
 

  .language-info {
  margin-left: 10px;
  color: #fff; 
}
  